<script src= "https://player.twitch.tv/js/embed/v1.js"></script>

<div class="jumbotron">
<h1>Streamer: <%=@streamer %></h1>

<!-- login, display_name, description, profile_image_url, offline_image_url, view_count -->

<%= @streamers["data"][0] %>

<!-- Embed Twitch video for each search <request></request> -->
<div id="<player div ID>"></div>


<script type="text/javascript">
  var options = {
    width: 400,
    height: 300,
    channel: "<%= @streamers %>",
  };
  var player = new Twitch.Player("<player div ID>", options);
  player.setVolume(0.5);
</script>
</div>
