<div class="jumbotron">
  <h1 class="red"><%= @streamers["error"] %></h1>
  <h1 class="red"><%= @streamers["status"] %></h1>
  <h1 class="red"><%= @streamers["message"] %></h1>
  <%= link_to "Back", twitch_search_path %>

</div>
